@keyframes fade-in-left {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade-in-left.ng-enter {
	animation: fade-in-left 0.2s linear;
}

.tabs a {
	transition: color 0.2s;
	transition: border-bottom-color 0.2s;
}