staggered-list{
	.item {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		padding: 3px 10px 4px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #4cabff;
		outline: none;
		color: #0088ff;
		margin-top: 2px;
		background: none;
		font-size: 15px;
		line-height: 19px;
	}

	.item-container.ng-enter {
		animation: fade-in 10s linear;
		-webkit-animation: fade-in 10s linear;
	}	
}
@keyframes fade-in {
	from { opacity:0; }
	to { opacity:1; }
}

@-webkit-keyframes fade-in {
	from { opacity:0; }
	to { opacity:1; }
}